section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.container {
  background-color: #e7e5e5;
  border-radius: 12px;
  box-shadow: 8px 8px 16px #858484cc;
  padding: 20px 30px;
  text-align: center;
  width: 75vh;
  max-height: 85vh;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #4b4949;
  }

  .add-item-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    @media (min-width: 480px) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}

input {
  flex: 1;
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 6px;
  font-size: 16px;

  &:focus {
    outline: none;
    border-color: #0056b3;
  }

}


button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: #0056b3;
  }
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  flex: 1;
  max-height: 55vh;
  border-radius: 8px;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  min-width: 320px;
  border-collapse: collapse;

  th {
    background-color: #007bff;
    color: #fff;
  }
}

th,
td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tr:nth-child(even) {
  background-color: #e6f0ff;
}

input[type='checkbox'] {
  transform: scale(1.2);
  cursor: pointer;
}

.comprado {
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}


@media (max-width: 580px) {
  .container {
    width: 95%;
    padding: 10px;
  }

  h1 {
    font-size: 20px;
  }

  .add-item-form {
    display: grid;
    place-items: center;
    gap: 10px;
  }

  input,
  button {
    width: 85%;
    font-size: 14px;
    padding: 8px;
  }

  table {
    font-size: 12px;
    min-width: 320px;

    button{
      width: 9vw;
    }
  }

  th,
  td {
    padding: 6px;
  }
}

